{% extends 'main_app/login.html' %}

{% block content_form %}
  <div class="post_body" style="">
    <div class="login_container" >
      <div style="text-align: center; color: #4caf50; font-size: 25px; font-family: 'Unbounded', cursive;">{% block nameInput %}Create post{% endblock nameInput %}</div>
      <form method="post" style="height: 85%">
        <div class="form_body" style="gap: 30px" action="" method="post" enctype="multipart/form-data">
            {% for f in form %}
                {% csrf_token %}
                {% if f.label != 'type_travel' and f.label != 'country' and f.label != 'image_bg' %}
                    {{f}}
                {% endif %}

                {% if f.label == 'country' %}
                    <div style="display: flex; justify-content: space-between; flex-direction: row-reverse">
                        {{f}}
                {% endif %}

                {% if f.label == 'type_travel' %}
                        <div class="select_div">
                            {{f}}
                        </div>
                    </div>
                {% endif %}

                {% if f.label == 'image_bg' %}
                    <div class="input__wrapper">
                       {{ f }}
                       <label for="id_image_bg" class="input__file-button">
                           <span class="input__file-button-text">Выберите файл</span>
                       </label>
                    </div>

                {% endif %}

            {% endfor %}
        </div>
        <div style="display: flex; justify-content: end;">
            <button class="button-88" type="submit" >Button</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content_form %}