{% extends 'main_app/list_chat_box.html' %}
{% block chat_block %}
    <form method="post">
        {% csrf_token %}
        <div class="name_responser_chat">
            {% if chat_box_ident.user1 != request.user.username %}
                {{ chat_box_ident.user1 }}
            {% else %}
                {{ chat_box_ident.user2 }}
            {% endif %}
        </div>

        <div class="chat_box_message">
            <textarea class="form-control" id="chat-text" readonly rows="10"></textarea><br>
        </div>

        <div class="input_message_box">
            <input class="form-control" placeholder="Enter text here" id="input" type="text">
            <input class="btn" id="submit" type="button" value="Send">
        </div>
    </form>
{% endblock chat_block %}
{% block script_block %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{{ request.user.username|json_script:"user_username" }}
{{ chat_box_name|json_script:"room-name"}}
<script>
    const chatSocket = new WebSocket(
      'ws://' +
      window.location.host +
      '/chat/' +
        '{{ chat_box_ident.slug_num }}' +
      '/'
    );
    const user_username = JSON.parse(document.getElementById('user_username').textContent);
    document.querySelector('#submit').onclick = function (e) {
      const messageInputDom = document.querySelector('#input');
      const message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
          'message': message,
          'username': user_username,
      }));
      messageInputDom.value = '';
    };
    const input = document.querySelector('#input')
     $('#input').on('keypress', function(event){
        if(event.keyCode === 13){
            event.preventDefault();
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
              'message': message,
              'username': user_username,
            }));
            messageInputDom.value = '';
            }
    });
   chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      console.log(data)
      document.querySelector('#chat-text').value += (data.message + ' sent by ' + data.username   + '\n') // add message to text box
   }
</script>


{% endblock script_block %}
