{% extends "main_app/main.html" %}
{% load static %}

{% block wrapper %}
<style>
    .profile_content{
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        background: url("{% static 'main_app/photo/mountains.png' %}") center / cover no-repeat;
    }
</style>
<div class="profile_content">
    <div class="profile_body">
        <div class="profile_key-words">
            <div class="logo_profile_body">
                <img src="{{profile_logo}}" class="logo_profile_img">
            </div>
            <div class="profile_key-words_body">
                <div>{{info_user}}</div>
                <div>Lovely places</div>
                <div>Best post</div>
                <div>..</div>
            </div>
        </div>
        <div class="profile_tourist-post">
            <div class="switches">
asdf
            </div>
            <div class="tourist-post">
asdf
            </div>
        </div>
    </div>
</div>
{% endblock wrapper %}
