{% extends "main_app/main.html" %}

{% block wrapper %}
    <div class="profile_body">
        <div class="profile_key-words">
            <div class="profile_key-words_body">

            </div>
        </div>
        <div class="profile_tourist-post">
            <div class="profile_tourist-post_body">
                <div class="switches">

                </div>
                <div class="tourist-post">

                </div>
            </div>
        </div>
    </div>
{% endblock wrapper %}
