{% extends "main_app/main.html" %}
{% load static %}

{% block wrapper %}
    <div class="profile_body">
        <div class="profile_key-words">
            <div class="logo_profile_body">
                <img src="{{profile_logo}}" class="logo_profile_img">
            </div>
            <div class="profile_key-words_body">
                <div>asd</div>
                <div>asd</div>
                <div>asd</div>
                <div>asd</div>
            </div>
        </div>
        <div class="profile_tourist-post">
            <div class="switches">
asdf
            </div>
            <div class="tourist-post">
asdf
            </div>
        </div>
    </div>
{% endblock wrapper %}
